:root {
  font-family: Inter, Arial, sans-serif;
  color: #ffffff;
  background-color: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, #60655e, #26a842);
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}